@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Box{
    width:600px;
    margin-top:50px;
}
.form-box{
    border:1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}
.form-horizontal>h3{
    height: 45px;
    line-height: 45px;
    background-color: #0586f5;
    color: white;
    margin-top: 0;
    margin-bottom: 25px;
    padding-left: 10px;
}
.form-horizontal .control-label{
    font-size:16px;
    color:#515151;
}
.message{
    padding-top:20px;
    font-size:18px;
    color:red;
    text-align: center;
}






























