@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:black;
}
#blogExample tbody tr{
    height:230px;
}
.img{
    width:75px;
    margin-left:20px;
}
.authTit a:first-child{
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑";
    color: #ff7800;
}
.authTit a:last-child{
    line-height: 45px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.cont{
    color:#555;
    line-height: 20px;
    font-size:15px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 20px;
}
.time,.entertainment,.comment{
    font-size: 14px;
    color: black;
}
.time{
    margin-left: 20px;
}
.comment{
    text-align: right;
    width: 240px;
}
.imgs{
    margin-left: 20px;
    margin-bottom: 7px;
}
.comment-btn{
    border:none;
    background-color: transparent;
}
.modal-body{
    width:100%;
    padding:60px;
}
/****detail的样式****/
.blogContent{
    width:850px;
    margin:0 auto;
}
.detailImg{
    padding:0 25px 15px 0;
}
.detailImg>img{
    width:800px;
    height:500px;
}
.articleContent p{
    font-size:16px;
    text-indent: 2em;
    padding-bottom: 20px;
}














































